<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>830295735326-4se1k9f4o27veds020cau3mif2pnu2j2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.830295735326-4se1k9f4o27veds020cau3mif2pnu2j2</string>
	<key>API_KEY</key>
	<string>AIzaSyB0XTNLusBzwa_V64IPcl_qkvM_pM7iy-c</string>
	<key>GCM_SENDER_ID</key>
	<string>830295735326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.seStore</string>
	<key>PROJECT_ID</key>
	<string>sestore-c8efd</string>
	<key>STORAGE_BUCKET</key>
	<string>sestore-c8efd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830295735326:ios:eaa07f81cf25a39b69020f</string>
</dict>
</plist>